body {
  margin: 0;
  font-family: "Saira Semi Condensed", sans-serif;
  scroll-behavior: smooth; /* Smooth scrolling */
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.582);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1000;
  font-size: 30px;
  align-items: center;
  transition: opacity 0.5s ease, top 0.5s ease; /* Smooth transitions */
}
.navbar.hidden {
  opacity: 0; /* Hidden when not in use */
}

.navbar img {
  width: 70px;
  height: 70px;
}
.navbar a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 15px;
  font-size: 25px;
}
.navbar a:hover {
  width: 135px;
  padding: 0px;
  border-radius: 24px;
  background-color: #ffffff21;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition-duration: 0.5s;
}
.hero {
  transition: background-image 1s ease-in-out;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0px 0;
  color: white;
  padding-bottom: 10%;
}
.herocontent {
  color: aliceblue;
  padding: 150px 100px 60px;
  min-height: 100vh;
}
.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;
  z-index: -1; /* Place images behind content */
}
.hero img.active {
  opacity: 1;
}
.hero h1 {
  margin-top: 0;
  font-size: 60px;
}
.hero p {
  font-size: 27px;
}
.section {
 
  color: aliceblue;
  padding: 50px 100px 20px;

  background: #02001a; /* Semi-transparent background */
}
.section:nth-of-type(even) {
  background-color: #02001a;
}
.section h1 {
  margin-top: 0;
  font-size: 60px;
}
.section p {
  font-size: 27px;
}
.section h2 {
  font-size: 40px;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* css for services section*/
.slider {
  justify-items: center;
  position: relative;
  width: 80vw; /* Full viewport width */
  height: 80vh; /* Adjust the height as needed */
  max-width: 900px; /* Limit the maximum width */
  max-height: 600px; /* Limit the maximum height */
  overflow: hidden;
  border: 1px solid #131212; /* Optional: Add a border around the slider */
  margin-left: auto;
  margin-right: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  position: relative;
  min-width: 100%; /* Each slide takes up the full width of the container */
  height: 100%; /* Ensure each slide takes full height of the container */
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images cover the slide area */
  display: block;
}

.slide .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #02020ecc;
  /* Dark semi-transparent background */
  color: #fff;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 70px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center; /* Center the text */
  font-size: 30px;

  /* Apply the font */
  /* Set the font size */
  font-weight: 600; /* Set the font weight */
  line-height: 62.96px; /* Set the line height */
}

.slide:hover .text-overlay {
  opacity: 1;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 20%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slider button {
  opacity: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 10px 0px;
  margin: 0;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #f3ecec;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  width: 19px;
  height: 19px;
  background-color: #717171;
}
.slider-container {
  position: relative;
  width: 80vw; /* Full viewport width */
  height: 94vh; /* Adjust the height as needed */
  max-width: 900px; /* Limit the maximum width */
  max-height: 600px; /* Limit the maximum height */
  margin-left: auto;
  margin-right: auto;
}

/*css for clients*/
.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 200px; /* Adjust based on image height */
  position: relative;
}

.scroll-images {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 15s linear infinite; /* Adjust duration as needed */
}

.scroll-images img {
  height: 100%;
  width: 200px; /* Adjust width as needed */
  display: inline-block;
  margin-right: 100px; /* Space between images */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Adjust based on content length */
  }
}

/*get started page form*/
/* Basic styles for the form container */
.form-container {
  font-size: 28px;
  width: 100%;
  max-width: 1000px;

  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  border-radius: 8px;
}

/* Styles for the form */
#dataForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Styles for each form group */
.form-group {
  flex: 1 1 calc(50% - 15px); /* 50% width minus the gap */
  box-sizing: border-box;
}

/* Adjustments for the form group in case of less space */
@media (max-width: 600px) {
  .form-group {
    flex: 1 1 100%;
  }
}

/* Label styling */
.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Input and textarea styling */
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  color: aliceblue;
  font-size: 20px;
}

/* Styling for textarea specifically */
.form-group textarea {
  resize: vertical; /* Allow vertical resizing only */
}

/* Styling for the button */
.form-group button {
  width: 15%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #ccc;
  font-family: "Saira Semi Condensed", sans-serif;
}

.form-group button:hover {
  background-color: #33343569;
}

.form-group.comment {
  flex: 1 1 100%; /* Full width */
}

/*css for scroll bar portfolio*/
.scrollbar-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  width: 80vw; /* Full viewport width */
  height: 90vh; /* Adjust the height as needed */
  max-width: 900px; /* Limit the maximum width */
  max-height: 900px;

  margin-left: auto;
  margin-right: auto;
}

.scroll {
  display: flex;
  align-items: center;
}

.scroll img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
  transition: transform 0.3s ease;
  margin-right: 70px;
}

.scroll img:hover {
  transform: scale(1.05);
}

.address-container a {
  font-size: 20px;
  justify-content: center;
  display: flex;
  margin-left: 25px;
  width: 25%;
}
.address-container{
  display: flex;
  
}
#icon1 {
  margin-top: 7px;
 
}
#icon2{
  margin-left: 50px;
  margin-top: 5px;
}





footer {
 
 
  color: #f5f5f5;
  padding: 20px;
  text-align: center;
}
footer a {
  color: #61dafb;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.company-name {
  font-size: 1.5em;
  margin-bottom: 20px;
  
}
.contact-info {
  margin-bottom: 20px;
}
.contact-info div {
  margin-bottom: 10px;
}
.footer-links a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 10px;
}
.footer-links a:hover {
  text-decoration: underline;
}
.address{
  display: flex;
justify-content: center;
align-items: center;
}

.background-area{
  border-radius: 4px;
  width: 100%;
  height: 125px;
  background-image: url("public/img/bg/bg1.png");
  align-content: center;
  margin-bottom: 30px;
  transition: background-image 1s ease-in-out;

}

.footer{
  background: #02001a; /* Semi-transparent background */
}

@media (max-width: 1024px) {
  .slider {
    height: 60vh;
  }

  .text-overlay {
    font-size: 20px;
  }

  .slider-container {
    width: 90vw;
    height: 70vh;
  }

  .slide img {
    object-fit: contain;
  }

  .navbar {
    font-size: 20px;
    padding: 8px 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar a {
    font-size: 18px;
    margin: 5px 0;
  }

  .hero h1 {
    font-size: 35px;
  }

  .section h1 {
    font-size: 35px;
  }

  .form-container {
    font-size: 20px;
  }

  .centerimg {
    width: 80%;
    height: 380px;
  }
}

@media (max-width: 900px) {
  .navbar {
    font-size: 24px;
    padding: 8px 10px;
    flex-direction: column;
    align-items: flex-end; 
  }

  .navbar img {
    position: right;
    align-items: flex-end;
    width: 50px;
    height: 50px;
  }

  .navbar a {
    font-size: 20px;
    margin: 0 10px;
  }

  .hero {
    padding: 0 5%;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero p {
    font-size: 24px;
  }

  .section {
    padding: 40px 50px;
  }

  .section h1 {
    font-size: 45px;
  }

  .section p {
    font-size: 24px;
  }

  .section h2 {
    font-size: 35px;
  }

  .slider {
    height: 60vh;
  }

  .slider-container {
    height: 70vh;
  }

  .scroll-container {
    height: 150px;
  }

  .scroll-images img {
    width: 150px;
    margin-right: 50px;
  }

  .form-container {
    font-size: 22px;
  }

  .form-group input,
  .form-group textarea {
    padding: 15px;
    font-size: 18px;
  }

  .form-group button {
    width: 20%;
    font-size: 18px;
  }

  .address-container {
    flex-direction: column;
  }

  .address-container a {
    font-size: 18px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .centerimg{
    width: 80%;
    height: 80%;
  }

  #icon1,
  #icon2 {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .slider {
    height: 50vh;
  }

  .text-overlay {
    font-size: 10px;
    width: 40%;
    height: 20%;
  }

  .slider-container {
    width: 75vw;
    height: 55vh;
  }

  .slide img {
    object-fit: contain;
  }

  .navbar {
    font-size: 18px;
    padding: 10px 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar a {
    font-size: 16px;
    margin: 5px 0;
  }

  .hero h1 {
    font-size: 30px;
  }

  .section h1 {
    font-size: 30px;
  }

  .form-container {
    font-size: 18px;
  }

  .centerimg {
    width: 80%;
    height: 80%;
  }
}
